.background {
  position: fixed;
  background: #1D2B64;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F8CDDA, #1D2B64);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F8CDDA, #1D2B64); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.background-legend {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  width: 100vw;
  bottom: 0px;
  font-size: 14px;
  color: #282828;
  background-color: rgba(255, 255, 255, 0.1);
  text-align: center;
  padding: 2px;
}

.background-legend i {
  color: white;
}

.background-legend-show {
  visibility: visible;
  opacity: 1;
}
