.card {
  background-color: rgba(240,240,240,0.2);
  backdrop-filter: blur(4px);
  position: relative;
  padding: 16px;
}

.card .icon {
  position: absolute;
  top: 16px;
  right: 16px;
  color: gray;
  font-size: 32px;
}

.card a {
  display: flex;
  flex-direction: column;
  color: rgb(40,40,40);
  height: 100%;
}

.card h1, p {
  margin-bottom: 8px;
}

.card img {
  flex-grow: 1;
  object-fit: cover;
  object-position: 50% 50%;
}
