.card {
  background-color: rgba(240,240,240,0.2);
  backdrop-filter: blur(4px);
  position: relative;
  padding: 24px;
}

.card a {
  display: flex;
  flex-direction: column;
  color: rgb(40,40,40);
  height: 100%;
}

.card-header {
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.card-title {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.card .icon {
  color: gray;
  font-size: 24px;
  display: flex;
}

.card .icon-lang {
  font-size: 20px;
  letter-spacing: 4px;
  display: flex;
  align-items: center;
  margin-right: 16px;
}


.card-title h2 {
  width: 90%;
  font-size: 20px;
}

.card img {
  flex-grow: 1;
  width: 100%;
  box-shadow: 0 0 4px rgba(0,0,0,0.3);
  object-fit: cover;
  object-position: 50% 50%;
}

.card-img-gif {
  display: none;
}

.card a:hover .card-img-fix {
  display: none;
}

.card a:hover .card-img-gif {
  display: block;
}

@include respond-to('wrapper') {
}
@include respond-to('desktop') {
  .card {
    padding: 16px;
  }
  .card-header {
    height: 102px;
  }
  .card-header h2 {
    font-size: 20px;
  }
  .card .icon {
    top: 16px;
    right: 16px;
  }
}
@include respond-to('tablet') {
  .card {
    padding: 8px;
  }
  .card-header {
    height: 96px;
  }
  .card-header h2 {
    font-size: 16px;
  }
  .card-header p {
    font-size: 12px;
  }
  .card .icon {
    top: 8px;
    right: 8px;
  }

  .card .icon {
    font-size: 16px;
  }
  .card .icon-lang {
    font-size: 14px;
    margin-right: 8px;
  }
}
@include respond-to('mobile') {
}

