.sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 10%;
  align-items: center;
  justify-content: center;
  font-size: 48px;
  top: 50%;
  transform: translatey(-50%);
}

.sidebar a {
  display: inline-block;
  margin: 16px 0;
  text-decoration: none;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar-right {
  right: 0px;
}

.sidebar-right a{
  color: rgba(140, 140, 140, 0.4);
}

.sidebar-left {
  left: 0px;
}

.sidebar-left .icon {
  color: rgba(80, 80, 80, 0.4);
}


.sidebar-left .icon-text {
  font-size: 24px;
  display: none;
}

.sidebar-left .icon:hover .icon-text {
  display: block;
}

.sidebar-left .icon:hover i {
  display: none;
}

@include respond-to('wrapper') {
}
@include respond-to('desktop') {
  .sidebar a {
    font-size: 32px;
  }
  .sidebar-left .icon-text {
    font-size: 16px;
  }
}
@include respond-to('tablet') {
  .sidebar a {
    font-size: 24px;
  }
  .sidebar-left .icon-text {
    font-size: 8px;
  }
}
@include respond-to('mobile') {
  .sidebar-right {
    position: relative;
    flex-direction: row;
    width: 100%;
    transform: none;
    justify-content: space-evenly;
  }
  .sidebar-left {
    display: none;
  }
  .sidebar a {
    font-size: 40px;
  }
}
