.main-content {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}

.main-content-visible {
    opacity: 1;
    visibility: visible;
  }

.cards {
  padding: 24px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 1fr;
  grid-gap: 24px;
}

.cards::before {
  content: '';
  width: 0;
  padding-bottom: 100%;
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.card-first {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

@include respond-to('mobile') {
  .cards {
    grid-template-columns: 1fr;
    padding: 0;
    padding-bottom: 64px;
  }
}
