.app-content {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.app-content-visible {
  opacity: 1;
  visibility: visible;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}
