.svelte-icon {
  width: 1em;
  height: 1em;
  filter: grayscale(1);
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/1/1b/Svelte_Logo.svg');
}

.svelte-icon:before {
  content: "　";
}

.vuejs-icon {
  width: 1em;
  height: 1em;
  filter: grayscale(1);
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/9/95/Vue.js_Logo_2.svg/1920px-Vue.js_Logo_2.svg.png');
}
.vuejs-icon:before {
  content: "　";
}

.card-frame {
  background-color: rgba(240,240,240,0.2);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  position: relative;
  padding: 24px;
}

.card-frame a {
  display: flex;
  flex-direction: column;
  color: rgb(40,40,40);
  height: 100%;
}

.card-frame .header {
  height: 104px;
  margin-bottom: 24px;
}

.card-frame .title {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.card-frame .title h2 {
  width: 90%;
  font-size: 20px;
  margin-bottom: 24px;
}

.card-frame .title p {
  margin-bottom: 24px;
}

.card-frame .icon {
  color: gray;
  font-size: 24px;
  display: flex;
}

.card-frame .lang {
  font-size: 20px;
  letter-spacing: 4px;
  display: flex;
  gap: 4px;
  align-items: center;
  margin-right: 16px;
}

.card-frame .media {
  position: relative;
  height: 320px;
  background-size: cover;
  background-position: 50% 50%;
}

.card-frame video {
  position: absolute;
  z-index: 2;
  display: none;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card-frame a:hover video {
  display: block;
}

@media (max-width: 969px) {
  .card-frame {
    padding: 16px;
  }

  .card-frame .header {
    height: 102px;
  }

  .card-frame .header  h2 {
    font-size: 20px;
  }

  .card-frame .icon {
    top: 16px;
    right: 16px;
  }
}

@media (max-width: 769px) {
  .card-frame {
    padding: 8px;
  }

  .card-frame .header {
    height: 96px;
  }

  .card-frame .header h2 {
    font-size: 20px;
  }

  .card-frame .header p {
    font-size: 16px;
  }

  .card-frame .icon {
    top: 8px;
    right: 8px;
    font-size: 16px;
  }

  .card-frame .lang {
    font-size: 14px;
    margin-right: 8px;
  }
}