.portfolio {
  padding: var(--spacing-3) 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
  grid-gap: var(--spacing-3);
}

.portfolio::before {
  content: '';
  width: 0;
  padding-bottom: 100%;
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.card-frame.visible {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.card-frame.visible ~ .card-frame.visible {
  grid-row: unset;
  grid-column: unset;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.main-content {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}

.main-content-visible {
    opacity: 1;
    visibility: visible;
  }

@media (max-width: 1100px) {
  .portfolio {
    grid-template-columns: 1fr 1fr;
    padding: var(--spacing-4) 0;
  }
}

@media (max-width: 600px){
  .portfolio {
    grid-template-columns: 1fr;
  }
  .container {
    width: 90%;
  }
}
