.intro-card {
  padding: 80px 16%;
  background-color: rgba(240, 240, 240, 0.3);
  backdrop-filter: blur(8px);
  line-height: 1.5em;
  text-align: justify;
  position: relative;
}

.intro-card-frame {
  padding-top: 24px;
}

.intro-card h1 {
  text-align: center;
  margin-bottom: 40px;
}

.intro-card p {
  font-size: 16px;
}

@media (max-width: 600px) {
  .intro-card {
    padding: 80px 16px;
  }
}
