.sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 10%;
  align-items: center;
  justify-content: center;
  font-size: 48px;
  top: 50%;
  transform: translatey(-50%);
}

.sidebar a {
  display: inline-block;
  margin: var(--spacing-2) 0;
  text-decoration: none;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease, color 0.2s ease;
}

.sidebar a:hover {
  transform: scale(1.1);
}

.sidebar-right {
  right: 0px;
}

.sidebar-right a{
  color: rgba(203, 213, 225, 0.5);
}

.sidebar-right a:hover {
  color: var(--color-primary-400);
}

.sidebar-left {
  left: 0px;
}

.sidebar-left .icon {
  color: rgba(203, 213, 225, 0.5);
  cursor: pointer;
  transition: color 0.2s ease;
}

.sidebar-left .icon:hover {
  color: var(--color-primary-400);
}

.sidebar-left .icon-text {
  font-size: 24px;
}

.sidebar-left .icon:hover .icon-text {
  display: block;
}

.sidebar-left .icon:hover i {
  display: none;
}

@media (max-width: 600px) {
  .sidebar-right {
    position: relative;
    flex-direction: row;
    width: 100%;
    transform: none;
    justify-content: space-evenly;
  }

  .sidebar-right a {
    color: var(--color-neutral-200);
  }

  .sidebar-right a:hover {
    color: var(--color-primary-400);
  }

  .sidebar-left {
    display: none;
  }

  .sidebar a {
    font-size: 40px;
  }
}
